
@font-face {
    font-family: "ApercuProBold";
    src: url(Fonts/Apercu\ Pro\ Bold.otf);
    
}

@font-face {
    font-family: "ApercuProMedium";
    src: url(Fonts/Apercu\ Pro\ Medium.otf);
}

@font-face {
    font-family: "ApercuProMono";
    src: url(Fonts/Apercu\ Pro\ Mono.otf);
}

@font-face {
    font-family: "ApercuProRegular";
    src: url(Fonts/Apercu\ Pro\ Regular.otf);
}

@font-face {
    font-family: "EurostileBlackItalic";
    src: url(Fonts/AnyConv.com__Eurostile-Black\ Italic.otf);
}
@font-face {
    font-family: "TiffanyStdDemi";
    src: url(Fonts/TiffanyStd-Demi.otf);
}

html, body { 
    width: 100%;
    scroll-behavior: smooth;}
    
body { 
    overflow-x: hidden;
}

header {
    background: #6759f3;
    top: 0px;
    height: 80px;
    left: 0;
    position: absolute;
    width: 100%;

}

main {
    background: white;
    top: 80px;
    left: 0;
    position: absolute;
    width: 100%;
}
footer {
    background:black;
    top:2260px;
    bottom: 0;
    height: 140px;
    left: 0;
    line-height: 1;
    position: absolute;
    text-align: center;
    width: 100%;
}


header ul {
    list-style-type: none;
    display: inline-block;
    padding: 10px;
}

header ul li {
    display:inline;
    margin:0 .3em;

}

body ul {
    list-style-type: none;
}

header nav {
    text-align: right;
}

button {
    border-style: none;
}

.cilvia-header { 
    padding-top: 0px; 
    background-color: #6759f3;}

.title-list {
    margin-left: 1.5vw;}

.title-list a {
    text-decoration: none;
    color: inherit;
    z-index: 0;
}
.title-list a:hover{
    color: white;
}

#CilviaOne {
    font-family: "ApercuProBold";
    font-size: 25pt;
}

#CilviaOne:focus {
    color:white;
}

#CilviaTwo {
    font-family: "EurostileBlackItalic";
    font-size: 27pt;
}
#CilviaThree {
    font-family: "TiffanyStdDemi";
    font-size: 25pt;
}

#heading-line { 
    position: absolute;
    background-color: black;
    left: 0;
    /* margin-left: 40px; */
    margin-left: 3vw;
    margin-top: 75px;
    width:94.5%;
    height: 3px;
    z-index: 0;
}

.top-message {
    font-family: "TiffanyStdDemi";
    /* font-size: 4vw; */
    font-size: 50px;
    background-color: #6759f3;
    position: absolute;
    top: 0px;
   
}
.top-message {
    height: 520px;
}

.statement-message {
    margin-top: 80px;
    margin-left: 40px;
    width: 68%;
    /* word-wrap: normal; */
    flex-wrap: wrap;
}
#art,
#engineering {
    color: white;
}
.lets-grab-coffee a {
    color: white;
}
.lets-grab-coffee a:visited {
    text-decoration: none;    
}

.lets-grab-coffee {
    font-family: "ApercuProBold";
    font-size: 20px;
    margin-top: 60px;
    margin-left: 40px;
}
@media (max-width: 1000px) {
    .top-message {
        font-size: 40px;
    }
    .lets-grab-coffee {
        
        font-size: 15px;
        width: 68%;
    
    }
}
.circle-area {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 40px;
    margin-top:-60px;
}


#project-tile {
    position: absolute;
    top: 520px;
    width:50%;
    background-color:#ffd451;
    height: 450px;
    transition: 0.4s;
}

.project-titles {
    font-family: "TiffanyStdDemi";
    font-size: 45px;
    margin-right: 60px;
    text-align: center;
    text-decoration: none;
}

.project-titles li:hover, .project-titles li:focus {
    color:white;
}
.project-titles a {
    text-decoration: none;
    color: black;
}
.project-titles a:visited {
    color: inherit;
}
.project-titles a:active {
    color: inherit;
}
.project-photos {
    position: absolute;
    top: 520px;
    width: 50%;
    right: 0;
    height: 450px;
    background-color: black;
    transition: 0.4s;
}


.graphic-tile {
    position: absolute;
    top: 970px;
    width: 50%;
    right: 0;
    height: 400px;
    background-color:#6759f3;
    max-width: 50%;
}

.projects, .graphic-design {
    font-family: "ApercuProBold";
    line-height: 35px; 
    letter-spacing: 0.2px; 
    font-size: 20px; 
    margin-left: 40px;
    margin-top: 25px;
}

.graphic-tile img {
    position: absolute;
}
.graphic-title {
    position: absolute;
    top: 970px;
    left: 47%;
    margin-left: 40px;

}
.magazine {
    position: absolute;
    background-color:#6759f3;
    width: 50%;
    max-width: 50%;
    left: 0;
    top: 970px;
    height: 800px;
 
}

#base-photo {
    max-width: 100%;

}
#front-cover {
    max-width: 100%;
}

#graphic-cover {
    max-width: 100%;
    position: absolute;
    top: 0;
}

.mag-cop {
    position: absolute;
    top: 1370px;
    width: 50%;
    right: 0;
    height: 610px;
    background-color: white;
    max-width: 50%;
    font-family: "ApercuProBold";
    font-size: 60px;
}

.mag-message {
    width: 70%;
    text-align: right;
    margin-top: 90px;
    right: 0;
    margin-left: 180px;
}

#vol {
    font-family: "ApercuProMedium";
}
.collation-of {
    font-size: 30px;
    width: 75%;
    text-align: right;
    margin-top: 20px;
    right: 0;
    margin-left: 140px;
}
#textsub {
    position: absolute;
    background-color: transparent;
    position: right;
    width: 720px;
    bottom: 0px;
    height: 120px;
}
#button-sub {
    position: absolute;
    right:0;
    margin-right: 40px;
    top: 0px;
    margin-top: -6px;
}

#email-enter {
    left: 0;
    top: 0;
    margin-left: 60px;
}

#subscribe-button {
    background-color:#ffd451;
    width: 120px;
    height: 55px;
    font-family: "ApercuProBold";
    font-size: 18px;
    border: none;
    /* box-shadow: none; */
    box-sizing: border-box;
    transition-duration: 0.1s;
    transition-property: background-colour;
}

#subscribe-button:hover {
    border: 1px solid black;
}

#email-here {
    background-color: #e1e0e0;
    text-align: left;
    font-family: "ApercuProBold";
    font-size: 18px;
    border: none;
    box-shadow: none;
    box-sizing: border-box;
    padding-left: 20px;
    padding-top: 9px;
    resize: none;
    transition-duration: 0.1s;
    transition-property: border;
    /* text-align: center; */
}

#email-here:hover {
    border: 1px solid black;
}

.interaction-tile {
    background-color: #ffd451;
    position: absolute;
    left: 0;
    width:100%;
    top:1980px;
    height: 200px;
}

#interaction {
    font-family: "ApercuProBold"; 
    line-height: 35px; 
    letter-spacing: 0.2px; 
    font-size: 20px; 
    margin-left: 40px;
    margin-top: 25px;  
}

.got-any {
    font-family: "TiffanyStdDemi";
    font-size: 40px;
    margin-left: 80px;
    margin-top: 40px;
}

.footer-details ul { 
    list-style-type: none; 
    padding: 0; 
    margin: 0; 
}

.bottom-footer-section { 
    background-color: #000; 
    color: #fff; 
    padding-top: 15px; 
    padding-bottom: 60px; 
}

.detail-title p { 
    font-family: "ApercuProBold"; 
    line-height: 20px; 
    letter-spacing: 0.2px; 
    font-size: 20px; text-align: 
    left; margin-left: 40px;
}

.detail-heading { 
    font-family: "ApercuProBold"; 
    font-size: 40px; 
    line-height: 46px;  
    letter-spacing: 0.7px; 
    padding-top: 10px; 
    font-weight: normal; 
    text-align: left;
    margin-left: 80px; 
    width:60%; 
    word-wrap: break-word; 
    margin-top: -10px;
}

.bottom-footer-section .footer-details a { 
    text-decoration: none; 
    color: #fff; }

.footer-mail-link, .footer-call-link { 
    font-family: "ApercuProMono";  
    font-size: 20px; 
    font-weight: 300; 
}

.footer-mail-link .footer-call-link { 
    width: 100%; 
}

.footer-call-link a, .footer-mail-link a { 
    font-family: "ApercuProBold"; 
    font-size: 20px; 
    line-height: 1px; 
    font-weight: normal; 
}


.footer-call-link { 
    padding-top: 0px; 
}

.footer-address li { 
    float: left; 
    padding: 0 20px; 
    position: relative; 
}

.contact-details li { 
    font-family: "ApercuProMono"; 
    font-size: 15px; 
    line-height: 17px; 
    font-weight: 300; 
    letter-spacing: 0.2px; 
    list-style-type: none; 
}

.footer-address .contact-details li:after { 
    content: "|"; 
    position: absolute; 
    top: 0px; 
    right: -5px; 
}

.footer-address .contact-details li:last-child:after { 
    display: none; 
}

.contact-details { 
    margin-top:0px; 
    margin-left: 60px !important; 
}

.contact-content { 
    margin-top: 80px;  
    position: absolute; 
    right: 0; 
    top: 0;
    text-align: left; 
    margin-right: 40px;
}

.contact-content ul li {
    margin: 0; 
    line-height: 0.5em;
}

.contact-details a:hover {
    color: #ffd451;
}
.contact-content a:hover {
    color: #ffd451;
}

.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0% ; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    right: 0;
    background-color: black; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    overflow-y: hidden;
    padding-top: 100px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    padding-top: 300px;
    transition: 0.8s;
}
 
/* The navigation menu links */
#about, #contact, #magazine, #projects {
    margin-top: -20px;
    padding: 30px 8px 8px 20px;
    text-decoration: none;
    font-family: "ApercuProBold";
    font-size: 30px;
    color:white;
    display: block;
    transition: 0.3s;
    text-align: center;   
}

#copyright {
    font-family: "ApercuProMono";
    color: white;
    text-align: center;
    display: block;
    margin-top: 60px;
    font-size: 15px;
    transition: 0.3s;
}
 
/* When you mouse over the navigation links, change their color */
.sidenav a:hover, #about:hover, #contact:hover, #magazine:hover, #projects:hover {
    color: #ffd451;
}

#circle-base:focus {
    background-color: #ffd451;
}

#circle-nav:focus {
    background-color: #ffd451;
}

#circle-nav:hover {
    background-color: #ffd451;
}
 
/* Position and style the close button (top right corner) */
.closebtn {
    background-color: white;
    position: absolute;
    top: 0;
    margin-top: 32px;
    right: 0px;
    margin-right: 40px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.circle-area {
    background-color: black;
    position: absolute;
    top: 0;
    margin-top: 32px;
    right: 0px;
    margin-right: 40px;
    width: 30px;
    height: 30px;
    border-radius: 50%;  
}

.circle-area:hover {
    background-color: #ffd451;
}


#WorkingOn:focus {
    color: yellow;
}

#numberlink:focus {
    color: yellowgreen;
}

.contact-details li:focus {
    color: #ffd451;
}

#loadingscreen { 
    height: 100%; /* 100% Full-height */
    width: 100% ; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    right: 0;
    background-color:#6759f3; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    overflow-y: hidden;
    padding-top: 100px; /* Place content 60px from the top */
    padding-top: 300px;
    transition: 2s;
    opacity: 1;
}

#cilviasvg {
    perspective: 50em;
    position: absolute;
    left:0;
    top:0;
    margin-left: 40%;
    margin-top: 18%;
    transform: rotate3d(0,1,0, 0deg);
    opacity: 1;
}

@media (max-width: 1000px) {
    #CilviaTwo {
        display: none;
    }
    #CilviaThree {
        display: none;
    }
};